body {
  background-color: rgb(55, 55, 55);
  color: #ccccab;
}

@media screen {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
}

/* index */

.title {
  text-shadow: 2px 2px #d95f5f;
  font-size: 24px;
}

.img-container {
  width: 800px;
}

.cuadro {
  width: 120px;
  height: 120px;
  background-color: rgb(49, 49, 49);
  border: 5px rgb(77, 77, 77) solid;
  padding: 10px 30px 0;
}

.cuadro:hover {
  transition: background-color 0.4s;
  background-color: rgba(19, 19, 19, 0.935);
}

/* Info */

#collapse {
  color: #a6a68c;
  text-decoration: none;
}

#collapse:hover {
  color: #cbcb23;
}

.back a {
  color: #dbec48;
  text-decoration: none;
}

.back a:hover {
  color: #b5c33b;
  text-decoration: underline;
}

.vertical-line {
  height: 100%;
  width: 3px;
  background-color: white;
}

/* Clases */

.clases {
  background-color: #837d7d1f;
}

.Barbarian {
  background-color: #F22B0C;
  border: none;
}

.Barbarian:hover {
  background-color: #cf250a;
}

.Bard {
  background-color: #8C20BA;
  border: none;
}

.Bard:hover {
  background-color: #751b9b;
}

.Cleric {
  background-color: #5CD5FF;
}

.Cleric:hover {
  background-color: #4baccc;
}

.Druid {
  background-color: #27BB58;
  border: none;
}

.Druid:hover {
  background-color: #21a04c;
}

.Fighter {
  background-color: #FF982A;
  border: none;
}

.Fighter:hover {
  background-color: #d88124;
}

.Monk {
  background-color: #06446C;
}

.Monk:hover {
  background-color: #053555;
}

.Paladin {
  background-color: #FFE570;
  border: none;
}

.Paladin:hover {
  background-color: #e0cc6f;
}

.Ranger {
  background-color: #0D6129;
  border: none;
}

.Ranger:hover {
  background-color: #0a4e21;
}

.Rogue {
  background-color: #595959;
  border: none;
}

.Rogue:hover {
  background-color: #3f3f3f;
}

.Sorcerer {
  background-color: #FF7D00;
  border: none;
}

.Sorcerer:hover {
  background-color: #e46e00;
}

.Warlock {
  background-color: #5D147C;
  border: none;
}

.Warlock:hover {
  background-color: #53126e;
}

.Wizard {
  background-color: #1FA9FF;
  border: none;
}

.Wizard:hover {
  background-color: #1a8ed6;
}

/* Clases info */

.nav-tabs {
  background-color: #837d7d1f;
}

#tabla-tab,
#descripcion-tab,
#equipamiento-tab {
  color: #a6a68c;
  border-radius: 0;
}

#tabla-tab:focus,
#descripcion-tab:focus,
#equipamiento-tab:focus {
  background-color: #a6a68c;
  color: #000;
  border: none;
}

.nav-tabs .nav-link {
  border: 1px #a6a68c solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  color: #a6a68c;
  background-color: rgb(65, 65, 65);
  border-color: white;
  border-bottom: 1px white solid;
}

.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border-color: #a6a68c;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  background-color: none;
  color: #000;
}

@media (max-width: 625px) {
  #tabla-tab-pane {
    font-size: 13px;
  }
}

/* Razas */

.card-img-top {
  height: 298px;
  object-fit: cover;
}