<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-2 de carisma</title>

    <!-- icono -->
    <link
      rel="shortcut icon"
      href="../public/src/img/favicon.ico"
      type="image/x-icon"
    />

    <!-- boostrap min css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- css style  -->
    <link rel="stylesheet" href="../public/src/css/style.css" />
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand mt-1" href="index.html">
          <img
            src="../public/src/img/logo.png"
            width="50"
            height="44"
            class="d-inline-block align-text-top"
          />
          -2 de carisma
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="clases.html">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="spells.html">Conjuros</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- contend -->
    <div class="row gx-1 m-5">
      <!--  spinner   -->
      <div class="spinner d-flex justify-content-center">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- Link para volver al listado -->
      <div class="col-12 d-none back mb-2">
        <a style="color: #dbec48" href="clases.html">
          <iconify-icon
            inline
            icon="material-symbols:chevron-left"
          ></iconify-icon
          >Listado
        </a>
      </div>
      <!-- Fin link para volver al listado -->

      <!-- Columna N°1 -->
      <div class="col-sm-12 col-md-6 me-md-3 bg-dark clase"></div>
      <!-- Fin columna N°1 -->
      
      <!-- Columna N°2 -->
      <div class="col-sm-12 col-md-5 mt-3 mt-md-0 bg-dark des"></div>
      <!-- Fin columna N°2 -->
    </div>

    <!-- scripts -->
    <script src="../public/src/js/info.js"></script>

    <!-- boostrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
  </body>
</html>
<!-- 
  repositorio
  colaboradores      
  github pages
-->
